{% extends 'catalog/base.html' %}
{% load my_tags  %}

     {% block content %}
     <div class="container">
         <div class="row">
              <div class="col-6">
                <div class="card">
                  <h5 class="card-title">{{object.title}}</h5>
                  <img src="{{object.picture|mymedia}}" class="card-img-top border border-3 " alt="...">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Опубликовано: {{object.published_at}}</li>
                    <li class="list-group-item">Просмотров: {{object.view_count}}</li>
                  </ul>
                </div>
              </div>

             <div class="col-6">
                  <div class="card-body">

                    <p class="card-text">{{object.body}}</p>
                  </div>
              </div>

         </div>

     </div>
     {% endblock %}