{% extends 'main/index.html' %}
    {% block content%}

        <div class="col-6">
               <h2> пользовател {{ user }} </h2>
        </div>
        <div class="col-4">
        </div>


        {% for object in object_list %}

              {% if not object.is_staff %}
                  <div class="card" style="width: 20rem;">
                      <div class="card-body">
                        <h5 class="card-title">Пользователь {{object.email}}</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                          {% if object.is_active %}
                              <li class="list-group-item" style="background-color:YellowGreen;">Пользователь активен</li>
                          {% else %}
                              <li class="list-group-item">Пользователь не активен</li>
                          {% endif %}

                      </ul>
                      <div class="card-body">
                        <a href="{% url 'users:user_status_change' object.pk %}" class="btn btn-warning">переключить статус</a>
                      </div>
                  </div>
              {% endif %}

        {% endfor %}
    {% endblock %}
