{% extends 'main/index.html' %}
    {% block content%}

        <div class="col-4">
               <h2> Клиенты пользователя {{ user }} </h2>
        </div>
        <div class="col-4">
                <a href="{% url 'create_client' %}" class="btn btn-primary mb-4">Добавить нового клиента</a>
        </div>
        <div class="col-4">
        </div>


        {% for object in object_list %}
          <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Client {{object.pk}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Name______{{object.name}}</li>
                <li class="list-group-item">Surname___{{object.surname}}</li>
                <li class="list-group-item">Email_____{{object.email}}</li>
              </ul>
              <div class="card-body">
                  <a href="{% url 'one_client' object.pk %}" class="btn btn-secondary">VIEW</a>
                  <a href="{% url 'update_client' object.pk %}" class="btn btn-secondary">EDIT</a>
                  <a href="{% url 'delete_client' object.pk %}" class="btn btn-warning">DEL</a>
              </div>
          </div>
        {% endfor %}
    {% endblock %}
